.add-language {
	position: absolute;
	top: -1px;
	right: 0;
	height: 24px;
	width: 24px;
	padding: 1px;
}

.add-language .source-language,
.add-language .target-language {
	display: none;
	float: left;
	width: 200px;
}
.add-language .language-spacer {
	display: none;
	float: left;
	width: 16px;
	height: 26px;
	line-height: 26px;
}

.add-language select {
	width: 190px;
}

button {
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
	cursor: pointer;
	color: inherit;
	font-size: 1em;
}

.add-language .add-icon {
	position: absolute;
	right: 6px;
	top: 4px;
}

table.tl_listing td {
	height: 20px;
}



.add-language.active {
	top: -2px;
	right: -1px;
	width: 434px;
	background: #fff;
	border: 1px solid #bbb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-o-border-radius: 3px;
	-ie-border-radius: 3px;
	border-radius: 3px;
}

.add-language.active .source-language,
.add-language.active .target-language,
.add-language.active .language-spacer {
	display: block;
}

.status_php {
	color: #00b;
}
.status_uptodate {
	color: #3a0;
}
.status_outdated {
	color: #f60;
}
.status_missing {
	color: #f00;
}